autom4te.cache/
proj/
.deps/
.libs/
aclocal.m4
autoscan.log
configure.scan
config.h
config.h.in
config.status
config.log
configure
libtool
stamp-git
stamp-h1
Makefile
Makefile.in
*.bak
*.log
*-swp
*~
